<%- include('./layouts/main-nav-layout.ejs') %>
<div id="banner">
    <div class="banner-text">
      <h1 class="text-center text-wrap text-light" id="welcome-text">Hello World!</h1>
      <p class="text-center text-wrap text-light">
          This site is underconstruction :D
          by: <a href="http://akbarangkasa.com/" target="blank">abay</a>
          visit us: <a href="https://www.youtube.com/channel/UCPTBQ8AxU-wsWVcdVgr55Yg" target="blank">Youtube</a> & <a href="https://www.instagram.com/holvamp/" target="blank">Instagram</a>
      </p>
    </div>
</div>